#contact {
    background-color: $roig;
    color: #fff;
    ul {
        padding: 0;
        list-style: none;
        li {
            font-size: 2rem;
            margin-left: 30px;
            margin-bottom: 20px;
        }
    }
    a {
        color: $color_link;
        font-weight: 900;
        &:visited {
            color: #b61a5d;
        }
        &:hover {
            color: $gris;
        }
        
    }
}