#projects {
    color: #fff;
    background: $gris;
    .more-info {
        background-color: #fff;
        color: $gris;
        &:hover {
            background-color: $roig;
            color: #fff;
        }
    }
    .projects-list {
        display: grid;
        gap: 32px;
        grid-auto-rows: 20rem;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
    .project {
        background-color: $verd;
        padding: 15px 15px;
        display: flex;
        flex-direction: column;

        footer {
            margin-top: auto;
        }

        .description {
            overflow: hidden;
            transition: max-height 0.6s ease-out;
            font-weight: normal;
        }
        p.short-description { 
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    .project-description {
        position: relative;
        padding: 30px;
        border-bottom: 1px solid #fff;
        margin-bottom: 0;
        font-weight: normal;
        max-height: 10000px;
        margin-bottom: 30px;
        transition: all 1s cubic-bezier(.08,.82,.17,1);
        overflow: hidden;
        // display: none;
        &.animate__fadeOutDown {
            max-height: 0px;
            margin-bottom: 0px;
            padding: 0px;
            border: none;
        }

        a {
            color: cadetblue
        }
        .slider-img {
            width: 100%;
            max-width: 400px;
        }
        .content {
            padding: 2rem 0rem;
        }
        .controls {
            position: absolute;
            right: 10px;
            top: 20px;
            font-size: 1.2rem;
            letter-spacing: 2px;
            span:hover {
                cursor: pointer;
            }
            .expand:hover {
                color: $verd;
            }
            .close:hover {
                color: $roig;
            }
            span:last-child {
                margin-left: 20px;
            }
            @media only screen and (max-width:320px) {
                .expand {
                    color: $verd;
                }
                .close {
                    color: $roig;
                }
            }
        }
    }
}